---
name: Ansible Lint

"on":
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint Collection
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Ansible and dependencies
        run: |
          pip install ansible ansible-lint

      - name: Run Ansible Lint
        run: ansible-lint .

      - name: Check galaxy.yml
        run: |
          ansible-galaxy collection build --force
          ls -lh *.tar.gz
